# Kubeocean TKE Installation Configuration Example

# Manager Cluster Settings
MANAGER_REGION="ap-guangzhou"
MANAGER_CLUSTER_ID="cls-xxx1"
MANAGER_SUBNET_ID="subnet-xxx1"
SKIP_MANAGER_UNINSTALL="false"

# Worker Cluster Settings
WORKER_REGION="ap-guangzhou"
WORKER_CLUSTER_ID="cls-xxx1"
WORKER_SUBNET_ID="subnet-xxx2"
WORKER_KUBECONFIG="/tmp/kubeconfig-worker"
WORKER_CLUSTER_NAME="example-cluster"

