name: Build and Test CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.x'

    - name: Build
      run: make build

    - name: Run lint
      run: make lint

    - name: Run unit tests
      run: make test-unit

    - name: Run integration tests
      run: make test-int
